**/.mypy_cache*
**/*__pycache__*
**/*.swp
**/*.json
**/*.jpg
**/*.xlsx
**/.ipynb_checkpoints
**/*.pkl
**/*.png
**/*.DS_Store
**/*.csv
**/*.pptx
**/*.xlsx
**/.DS_Store
**/.ipynb_checkpoints/

/.idea/
/_build/
